[Desktop Entry]
Type=Application
Name=Barry Launcher Trackpad
Comment=Use the bottom screen as the top screen's trackpad and keyboard
Exec=/usr/lib/barry_launcher/barry_launcher_desktop
Icon=input-touchpad
Categories=Utility;
OnlyShowIn=KDE;
